<form [formGroup]="shoeform" (ngSubmit)="onSubmit(shoeform.value)">
    <div class="form-floating mb-3">
        <input type="text" formControlName="brand" class="form-control" id="floatingInput" placeholder="Suacony/Nike/etc..">
        <label for="floatingInput">Brand</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" formControlName="model" class="form-control" id="floatingPassword" placeholder="Kinwara/AirZoom/etc..">
        <label for="floatingPassword">Model</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" formControlName="startDate" class="form-control" id="floatingInput" placeholder="mm/dd/yyyy">
        <label for="floatingInput">Start Date</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" formControlName="size" class="form-control" id="floatingInput" placeholder="10.5">
        <label for="floatingInput">Size</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" formControlName="cushion" class="form-control" id="floatingInput" placeholder="1..5">
        <label for="floatingInput">Cushion</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" formControlName="shoeDrop" class="form-control" id="floatingPassword" placeholder="1..10">
        <label for="floatingPassword">Drop</label>
    </div>
    <div class="form-floating mb-3">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>